.search {
  @apply flex flex-col gap-2 max-w-[384px];
  @apply md:flex-row md:max-w-none md:gap-4;
}

.search__item {
  @apply relative m-0;

  svg {
    @apply absolute left-5 top-1/2 -translate-1/2 text-[#a8a8a8];
    @apply md:left-7 md:w-6 md:h-6;
  }
}

.search__input {
  @apply flex items-center px-10 w-full h-12 rounded-[16px] border-none bg-white placeholder:text-[14px] placeholder:text-inherit;
  @apply md:h-[60px] md:px-14 md:text-[20px] md:placeholder:text-[20px];

  @media (min-width: 768px) {
    box-shadow: 0 0 8px rgba(0, 0, 0, 10%);
  }
}

.search__submit {
  @apply flex justify-center items-center border-none bg-primary h-12 rounded-[16px] text-white text-[14px] p-0 cursor-pointer;
  @apply md:w-[190px] md:h-[60px] md:text-[20px];
}

.index__vitrin-jobs {
  @apply relative z-0;

  &::after {
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='417' height='109' fill='none' viewBox='0 0 417 109'%3E%3Cpath fill='url(%23a)' d='M46 108.5q-9 0-17.1-2.25-8.1-2.4-14.55-6.9-6.3-4.5-10.05-11.1-3.6-6.6-3.75-15.3 0-1.35.9-2.25.9-1.05 2.25-1.05h25.5q2.4 0 3.45 1.05 1.2 1.05 2.1 3.45 1.05 3 2.55 5.1 1.65 1.95 4.05 2.85t5.55.9q5.85 0 9-3.75 3.3-3.75 3.3-11.85v-39H12.55q-1.65 0-2.85-1.05-1.05-1.2-1.05-2.85V5.9q0-1.65 1.05-2.7Q10.9 2 12.55 2H88.6q1.65 0 2.7 1.2 1.2 1.05 1.2 2.7v62.55q0 13.35-6.15 22.35-6 8.85-16.65 13.35-10.5 4.35-23.7 4.35m109.432 0q-14.4 0-25.05-4.5-10.5-4.5-16.65-13.5-6-9.15-6.45-22.65-.15-6.3-.15-12.9 0-6.75.15-13.35.45-13.35 6.45-22.5 6.15-9.15 16.8-13.8 10.65-4.8 24.9-4.8 14.1 0 24.75 4.8 10.65 4.65 16.8 13.8t6.45 22.5q.3 6.6.3 13.35 0 6.6-.3 12.9-.45 13.5-6.6 22.65-6 9-16.65 13.5-10.5 4.5-24.75 4.5m0-25.5q6.3 0 10.35-3.75 4.05-3.9 4.2-12.3.3-6.45.3-12.45 0-6.15-.3-12.45-.15-5.55-2.1-9.15-1.8-3.6-5.1-5.25-3.15-1.65-7.35-1.65t-7.5 1.65-5.25 5.25q-1.8 3.6-1.95 9.15-.15 6.3-.15 12.45 0 6 .15 12.45.3 8.4 4.2 12.3 4.05 3.75 10.5 3.75m67.584 24q-1.5 0-2.7-1.05-1.2-1.2-1.2-2.85V5.9q0-1.65 1.2-2.7 1.2-1.2 2.7-1.2h47.85q13.65 0 22.35 3.6t12.9 10.35 4.2 16.65q0 5.1-2.1 9.15-1.95 3.9-4.8 6.6-2.85 2.55-5.4 3.75 5.85 2.55 10.2 8.7 4.35 6 4.35 13.8 0 10.5-4.8 17.7-4.65 7.2-13.65 10.95-8.85 3.75-21.75 3.75zm28.35-22.65h17.55q5.1 0 7.5-3 2.4-3.15 2.4-6.9 0-3.9-2.55-6.75-2.55-3-7.35-3h-17.55zm0-41.7h16.05q4.8 0 7.05-2.7t2.25-6.3-2.25-6.3-7.05-2.7h-16.05zm117.113 65.85q-15.75 0-26.25-4.35-10.35-4.5-15.6-11.55-5.1-7.2-5.4-15.15 0-1.35.9-2.25t2.25-.9h23.85q2.1 0 3.3.75 1.2.6 2.55 1.8 1.35 1.65 3.15 3.15 1.8 1.35 4.65 2.25 2.85.75 6.6.75 6.9 0 10.65-1.8 3.75-1.95 3.75-5.25 0-2.55-2.1-4.2-1.95-1.65-6.75-3t-13.05-2.85q-11.55-1.95-19.95-5.7-8.4-3.9-12.9-10.35-4.35-6.6-4.35-16.2 0-9.75 5.4-17.25 5.55-7.5 15.3-11.7 9.9-4.2 22.95-4.2 10.8 0 19.05 2.85 8.4 2.85 14.1 7.5 5.7 4.5 8.7 9.75t3.15 10.05q0 1.35-1.05 2.4-.9.9-2.1.9h-25.05q-1.8 0-3.15-.6-1.2-.6-2.25-1.95-.75-2.1-3.75-3.75t-7.65-1.65q-5.1 0-7.8 1.8-2.7 1.65-2.7 4.95 0 2.25 1.65 3.9t5.85 3q4.2 1.2 11.7 2.7 14.25 2.1 22.95 6 8.85 3.9 12.9 10.2t4.05 15.75q0 10.65-6.15 18.3t-16.95 11.85q-10.65 4.05-24.45 4.05'/%3E%3Cdefs%3E%3ClinearGradient id='a' x1='209.087' x2='209.087' y1='1' y2='111' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23c0d5f0' stop-opacity='.65'/%3E%3Cstop offset='1' stop-color='%23c0d5f0' stop-opacity='0'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
    @apply hidden absolute bottom-8 w-[422px] h-[110px] bg-no-repeat;
    @apply md:flex;
  }
}
