.categories__list {
  @apply flex flex-col p-0 m-0 gap-[10px] list-none mx-[5vw];
  @apply md:flex-wrap md:flex-row md:justify-center md:gap-8;
}

.categories__item {
  &:nth-child(5n + 1) .cagtegories__link {
    @apply md:bg-[#EFF4FF];
  }

  &:nth-child(5n + 2) .cagtegories__link {
    @apply md:bg-[#F9EFFF];
  }

  &:nth-child(5n + 3) .cagtegories__link {
    @apply md:bg-[#FFEFEF];
  }

  &:nth-child(5n + 4) .cagtegories__link {
    @apply md:bg-[#EFF4FF];
  }

  &:nth-child(5n + 5) .cagtegories__link {
    @apply md:bg-[#F9EFFF];
  }
}

.cagtegories__link {
  @apply flex items-center p-5 min-h-[70px] gap-3 text-inherit no-underline rounded-full font-medium duration-150 hover:shadow-none;
  @apply md:text-[21px] md:font-semibold md:min-h-[64px] md:py-0 md:px-8;
  box-shadow: 0 0 4px rgba(0, 0, 0, 10%);

  svg:first-of-type {
    @apply flex w-7 h-7;
  }

  svg:last-of-type {
    @apply flex ml-auto;
    @apply md:hidden;
  }
}
