.header {
  @apply flex flex-col items-center overflow-auto min-h-[50px];
  @apply md:pt-10 md:overflow-visible;

  .nav-shown & {
    @apply fixed left-0 top-0 z-20 w-screen h-screen bg-white;
    @apply md:static md:w-auto md:h-auto md:bg-transparent;
  }
}

.header__nav {
  @apply relative z-0 flex flex-col justify-between items-center flex-wrap py-4 h-full;
  @apply md:flex-row md:gap-8 md:rounded-[18px] md:px-7 md:py-6 md:h-auto md:bg-white;

  @media (min-width: 768px) {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  }
}

.header__lang {
  @apply order-4 w-full;
  @apply xl:w-auto;
}

.header__logo {
  @apply order-1 flex w-max h-max mr-auto;
  @apply md:mr-0;

  img {
    @apply flex w-[140px] h-auto;
    @apply md:w-[216px];
  }
}

.header__list {
  @apply order-3 hidden flex-col gap-2 list-none p-0 my-12 w-full font-medium text-[20px] text-grey;
  @apply xl:flex-row xl:w-auto xl:mx-auto xl:my-0 xl:flex xl:gap-8;

  .nav-shown & {
    @apply flex;
  }
}

.header__item {
  @apply flex;
}

.header__navlink {
  @apply flex items-center gap-2 no-underline text-inherit;
  @apply md:text-[16px];

  &.header__navlink--current {
    @apply text-primary;
    @apply md:text-secondary md:underline;

    &::after {
      content: "";
      @apply flex w-5 h-[2px] bg-primary mt-[2px];
      @apply md:hidden;
    }
  }
}

.header__resume {
  @apply order-5 hidden justify-center py-[15px] w-full no-underline rounded-xl border border-primary my-6 text-primary;
  @apply xl:flex xl:order-3 xl:m-0 xl:rounded-full xl:w-auto xl:px-7 xl:py-3;

  .nav-shown & {
    @apply flex;
  }
}

.header__bottom {
  @apply hidden order-6 justify-between items-center flex-wrap gap-4 mt-auto w-full;
  @apply md:hidden;

  .nav-shown & {
    @apply flex;
    @apply md:hidden;
  }
}

.header__links {
  @apply flex flex-col gap-3;
}

.header__link {
  @apply no-underline text-grey/80 font-medium leading-none;
}

.header__toggler {
  @apply order-2 absolute top-3 right-0 flex justify-center items-center w-6 h-6 p-0 border-none bg-transparent text-black;
  @apply md:relative md:top-0;
  @apply xl:hidden;

  svg:first-of-type {
    @apply flex;
  }

  svg:last-of-type {
    @apply hidden;
  }

  .nav-shown & {
    svg:first-of-type {
      @apply hidden;
    }

    svg:last-of-type {
      @apply flex;
    }
  }
}
